a {
  color: #7aa93c;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #7aa93c;
}
#sp-bottom2 span,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #7aa93c;
}
#offcanvas-toggler >i:hover {
  color: #7aa93c;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #7aa93c;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
.social-links>a,
ul.social-icons >li a:hover {
  color: #7aa93c;
}
.sp-page-title {
  background: #7aa93c;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #7aa93c;
}
.sp-module .letestnews >div >a {
  color: #000000;
}
.sp-module .letestnews >div >a:hover {
  color: #7aa93c;
}
.sp-module .tagscloud .tag-name:hover {
  background: #7aa93c;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #7aa93c;
}
.search .btn-toolbar button {
  background: #7aa93c;
}
.post-formet {
  background: #7aa93c;
}
.voting-symbol span.star.active:before {
  color: #7aa93c;
}
.sp-reting span.star:hover:before,
.sp-reting span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #7aa93c;
}
.et-team-item,
blockquote {
  border-color: #7aa93c;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #7aa93c;
}
#sp-footer {
  background: #7aa93c;
}
.sp-comingsoon body {
  background-color: #7aa93c;
}
.paginetion>li>a,
.paginetion>li>span {
  color: #000000;
}
.paginetion>li>a:hover,
.paginetion>li>a:focus,
.paginetion>li>span:hover,
.paginetion>li>span:focus {
  color: #000000;
}
.paginetion>.active>a,
.paginetion>.active>span {
  border-color: #7aa93c;
  background-color: #7aa93c;
}
.paginetion>.active>a:hover,
.paginetion>.active>a:focus,
.paginetion>.active>span:hover,
.paginetion>.active>span:focus {
  border-color: #7aa93c;
  background-color: #7aa93c;
}
.qx-btn:before,
.qx-btn:hover,
.et-slider .tp-caption a,
.et-intro-item:hover i,
.et-felture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover button,
#et-pricing .single-table:nth-child(2) {
  background: #7aa93c;
}
.et-about-content-item i,
.et-title h2,
.et-intro-item i,
.et-felture-item h4,
.et-table-item h3,
.et-service-item h4,
.et-service-item i,
.et-table-item .table-price .price,
.et-table-item button:hover a,
.et-testimonial p.qx-designltion,
.et-testimonial button {
  color: #7aa93c; 
}
.et-felture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover,
.et-service-item .button-service,
.et-table-item button,
.et-subscribe-content table .button:hover {
  border-color: #7aa93c;
}
/* Important */
.et-slider .tp-caption  b,
.et-team-item:hover p,
.et-about h4,
.et-title h6,
.et-title-1 h6,
.et-service-item:hover h3,
.et-feature-item i,
.et-title h4,
.tp-caption.excerpt, .excerpt,
.et-team-item .qx-person-position,
.et-about h5,
.et-training-title h5,
.et-blog div.k2ItemsBlock ul li a,
.et-services-item:hover i,
.et-services-item:hover h4 {
  color: #7aa93c!important; 
}
.et-contact #sp-quickcontact-form .button:hover,
.projects-filter a.selected,
 .et-why-chose-item i,
 .et-counter,
.et-feature-item h3,
 #et-testimonial .button:hover,
 #et-feature .et-button:hover,
.et-service-item .button-service,
 .et-pricing-item .table-footer,
 .et-pricing-item .table-heading,
 .et-we-do-item .qx-progress-bar,
 .et-allowing,
.et-we-do-item i,div.itemCommentsForm form input#submitCommentButton,
.et-blog ul li .moduleItemDateCreated,
.et-we-do-item i,
.et-contact-item:hover i,
.et-contact-form button,
.et-subscribe-content table .button:hover {
  background: #7aa93c!important;  
}
#jevents_body,
#et-contact,
.project-wrapper .btn-go-back,
.sp-megamenu-parent >li.active>a, .sp-megamenu-parent >li:hover>a, .sp-contact-info li {
  background-color:#7aa93c!important;  
}
.qx-btn,
#et-pricing .single-table,
.et-contact #sp-quickcontact-form .button:hover,
.et-service-item:hover,
.tp-button,
#jevents_body,
.et-contact-form button,
.sp-megamenu-parent >li.active>a, .sp-megamenu-parent >li:hover>a,
.et-contact-item i,
.et-we-do-item i {
  border-color: #7aa93c!important; 
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(255, 85, 52, 0.59) 0%, rgba(255, 85, 52, 0.5) 100%)!important;
}
.et-blog ul li .moduleItemDateCreated:after {
    border-top: 32px solid #7aa93c!important;
    border-right: 36px solid transparent!important; 
}
